<!-- footer start -->
    <footer>
        <div class="wrap">
            <div class="footer-top clearfix">
                <p class="fl introduce">
                    生命不息，折腾永不停止。努力不一定有好的结果，不努力肯定没有结果，年轻就是拼搏的资本，别让以后的自己后悔。
                </p>
                <div class="fr link">
                    Link:
                    <br />
                    <a href="http://www.xuanmomo.com/" target=_blank>轩陌博客</a>
                    <a href=http://williamding1989.com target=_blank>william博客</a>
                    <a href=http://www.256it.com target=_blank>破浪无忧博客</a>
                    <a href=http://www.weekscosplay.com/ target=_blank>二次元博客</a>
                    <a href=http://www.web-jackiee.com/ target=_blank>老牛の博客</a>
                    <a href=https://betrs.github.io target=_blank>Betrs Blog</a>
                    <a href=http://www.njalex.com/ target=_blank>Alex Blog</a>
                    <a href=http://www.mxxia.com/ target=_blank>梦想霞博客</a>
                    <a href=http://www.w3cfuns.com/house/18184/note target=_blank>糖℃de博客</a> <a href=http://dengzhenzhen.com/ target=_blank>C#编程</a>
                    <a href=http://www.sooszy.com/ target=_blank>城管博客</a>
                    <a href=http://www.slmwp.com target=_blank>水冷眸博客</a> </div>
            </div>
            <p class="copyright">欢迎访问 ©
                <a href='#' target=_blank>yuanSnowBoy Blog</a>
            </p>
        </div>
    </footer>
    <!-- footer end -->
    <div class="iconfont icon-backtop">&#xe653;</div>
    <script src="{{ "/js/jquery.js " | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/zan.js " | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/common.js " | prepend: site.baseurl }}"></script>