<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="keywords" content="葛宝远,宝远,宝远的博客,葛宝远的博客,html5,JavaScript,jQuery,css3,html,css,web前端笔记,web前端开发,yuanSnowBoy,">
    <meta name="description" content="宝远,前端博客，个人前端笔记与案例展示、学习经验交流！">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>yuanSnowBoy Blog | Web前端笔记</title>
    <link rel='stylesheet' href='css/codecolorer.css' media='screen' />
    <link rel="stylesheet" href="{{ "/css/fontIcon.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/common.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/style.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/mobile.css" | prepend: site.baseurl }}">
</head>
