<!-- 首屏 start -->
<div class="first-screen mobile-hide">
    <div class="txt">
        <!-- <p class="move-left">探索、记录、分享、生活</p> -->
        <h1>探索、记录、分享、生活</h1>
        <p class="move-right">Learn More</p>
        <p class="move-right">And You Know Less</p>
    </div>
    <i class="iconfont icon-menu-up">&#xe602;</i>
</div>
<div class="mobile-banner pc-none">
    <ul class="roll-banner clearfix">
        <li><img src="http://file.xuanmomo.com/flower2_1.jpg" alt=""></li>
        <li><img src="http://file.xuanmomo.com/T1-lg.jpg" alt=""></li>
        <li><img src="http://file.xuanmomo.com/TT.jpg" alt=""></li>
    </ul>
    <ul class="plugin-banner-btn"></ul>
</div>
<!-- 首屏 end -->