<!-- header start  -->
<header>
    <!-- 搜索栏layout: default -->
    <form id="searchform" class="search" action="/index.php" method="get">
        <div class="search-box">
            <input type="text" class="search-txt" name="s" id="s" value="" placeholder="请输入文字...">
        </div>
        <span class="iconfont icon-close1">&#xe652;</span>
    </form>
    <!-- 导航区 -->
    <div class="head clearfix">
        <strong class="fl logo">
                <a href="#" title="Xuanmo Blog">yuanSnowBoy </a>
            </strong>
        <!-- 联系我 -->
        <div class="fr contact">
            <a href="javascript:;" class="iconfont icon-search">&#xe601;</a>
            <a href="https://github.com/geSnowBoy" class="mobile-hide iconfont icon-github1">&#xe608;</a>
            <a href="http://wpa.qq.com/msgrd?v=3&uin=1075452150&site=qq&menu=yes" class="mobile-hide iconfont icon-qq">&#xe677;</a>
            <a href="javascript:;" class="mobile-hide iconfont icon-wechat">
                &#xe63b;
                <span>
                        <img src="http://ohou1oxb6.bkt.clouddn.com/github/blog/img/code-erweima.png" alt="扫一扫 加博主微信" />
                    </span>
            </a>
            <a href="http://weibo.com/xuanmos" class="mobile-hide iconfont icon-sina">&#xe79c;</a>
            <a href="mailto:yuanSnowBoy@163.com?subject=Hello yuanSnowBoy Blog" class="mobile-hide iconfont icon-email2">&#xe705;</a>
            <a href="javascript:;" class="pc-none iconfont icon-menu-list2">&#xe606;</a>
        </div>
        <nav class="fl clearfix">
            <div class="menu-%e5%85%a8%e7%ab%99%e8%8f%9c%e5%8d%95-container">
                <ul id="menu-%e5%85%a8%e7%ab%99%e8%8f%9c%e5%8d%95" class="menu">
                    <li id="menu-item-17" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-17"><a href="http://www.xuanmomo.com/category/notes">笔记</a>
                        <ul class="sub-menu">
                            <li id="menu-item-21" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-21"><a href="http://www.xuanmomo.com/category/notes/html">HTML &#038; CSS</a></li>
                            <li id="menu-item-23" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-23"><a href="http://www.xuanmomo.com/category/notes/js">JavaScript</a></li>
                            <li id="menu-item-1259" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1259"><a href="http://www.xuanmomo.com/category/notes/jq">jQuery</a></li>
                            <li id="menu-item-22" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-22"><a href="http://www.xuanmomo.com/category/notes/h5">HTML5</a></li>
                            <li id="menu-item-20" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-20"><a href="http://www.xuanmomo.com/category/notes/css3">CSS3</a></li>
                            <li id="menu-item-673" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-673"><a href="http://www.xuanmomo.com/category/notes/bs">Bootstrap</a></li>
                            <li id="menu-item-1006" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1006"><a href="http://www.xuanmomo.com/category/notes/wp">WordPress</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-18" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-has-children menu-item-18"><a href="http://www.xuanmomo.com/category/case">特效案例</a>
                        <ul class="sub-menu">
                            <li id="menu-item-26" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-26"><a href="http://www.xuanmomo.com/category/case/jt">html &#038; css练习</a></li>
                            <li id="menu-item-25" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25"><a href="http://www.xuanmomo.com/category/case/jslx">Js &#038; Jq案列</a></li>
                            <li id="menu-item-1032" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1032"><a href="http://www.xuanmomo.com/category/case/h5-case">Html5 &#038; CSS3案例</a></li>
                            <li id="menu-item-813" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-813"><a href="http://www.xuanmomo.com/category/case/other">Other</a></li>
                        </ul>
                    </li>
                    <li id="menu-item-95" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-95"><a href="http://www.xuanmomo.com/category/tips">网站相关</a></li>
                    <li id="menu-item-1133" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1133"><a href="http://www.xuanmomo.com/category/software">软件分享</a></li>
                    <li id="menu-item-1226" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-1226"><a href="http://www.xuanmomo.com/category/photo">生活随笔</a></li>
                    <li id="menu-item-27" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-27"><a href="http://www.xuanmomo.com/category/about">关于我</a></li>
                    <li id="menu-item-1080" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1080"><a href="http://www.xuanmomo.com/links">Link</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!-- header end -->

